@using InventoryMVC.Models;
@{
    ViewBag.Title = "Category";
}
<div class="container mt-5">
    <div class="row">
        <div class="col mx-auto">
            <div class="card shadow">
                <div class="card-header">
                    <h4>Category</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Add Category</h5>
                                </div>
                                @{
                                    if (TempData["Alert"] != null)
                                    {
                                        <div class="alert alert-dismissible @TempData["Alert"]">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Message: </strong> <a href="#" class="alert-link">@TempData["Message"]</a>.
                                        </div>
                                    }
                                }
                                <div class="card-body">
                                    <form method="post" action="@Url.Action("Category","Products")">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control col" type="text" name="category" id="category" value="" placeholder="Enter category" required />
                                                <div class="input-group-append">
                                                    <input class="btn btn-success px-lg-2" type="submit" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 mt-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Category Details</h5>
                                </div>
                                <div class="card-body">
                                    @{
                                        if (ViewBag.GetBrandAlert != null & ViewBag.Code != 200)
                                        {
                                            <div class="alert alert-dismissible @ViewBag.GetBrandAlert">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong>Message: </strong>  <a href="#" class="alert-link">@ViewBag.GetBrandMessage</a>.
                                            </div>
                                        }
                                    }
                                    <table id="myCategoryTable" name="myBrandTable" class="table table-hover table-responsive">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col" class="px-lg-2">Select</th>
                                                <th scope="col" class="px-lg-2">Category</th>
                                                <th scope="col" class="px-lg-2">Status</th>
                                                <th scope="col" class="px-lg-2">Created By</th>
                                                <th scope="col" class="px-lg-2">Update By</th>
                                                <th scope="col" class="px-lg-2">Date Created</th>
                                                <th scope="col" class="px-lg-2">Date Updated</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                if (ViewData["categories"] != null)
                                                {
                                                    foreach (var item in ViewData["categories"] as IList<categories>)
                                                    {
                                                        <tr class="table-light text-center">
                                                            <td>
                                                                <button id="@item.categoryid" class="btn btn-info btn-sm">Select</button>
                                                            </td>
                                                            <td>
                                                                @item.name
                                                            </td>
                                                            <td>
                                                                @item.status
                                                            </td>
                                                            <td>
                                                                @item.createdby
                                                            </td>
                                                            <td>
                                                                @item.updatedby
                                                            </td>
                                                            <td>
                                                                @item.datecreated
                                                            </td>
                                                            <td>
                                                                @item.dateupdated
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myCategoryTable').DataTable();
    });
</script>